In [7]:
#Importing libraries
import numpy as np
import pandas as pd
import os
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc, precision_recall_fscore_support
from sklearn.metrics import precision_score, recall_score, roc_auc_score, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

In [ ]:
#Defining the base directory
notebook_dir = os.getcwd()
base_dir = os.path.join(notebook_dir, 'Hourly Energy Consumption')

#List of file names
file_names = [
    "AEP_hourly.csv", "COMED_hourly.csv", "DAYTON_hourly.csv", 
    "DEOK_hourly.csv", "DOM_hourly.csv", "DUK_hourly.csv", 
    "EKPC_hourly.csv", "FE_hourly.csv", "NI_hourly.csv", 
    "PJM_Load_hourly.csv", "PJME_hourly.csv", "PJMW_hourly.csv"
]

#Loading the datasets into a dictionary
dataframes = {}
for file_name in file_names:
    file_path = os.path.join(base_dir, file_name)
    if os.path.exists(file_path):
        dataframes[file_name] = pd.read_csv(file_path)
        print(f"Loaded {file_name}")
    else:
        print(f"File not found: {file_name}")

#Combining all datasets into one
combined_df = pd.concat(dataframes.values(), ignore_index=True)

#Preprocessing
if 'Datetime' in combined_df.columns:
    combined_df['Datetime'] = pd.to_datetime(combined_df['Datetime'])
else:
    print("No 'Datetime' column found, please check the dataset structure.")

#Fill in any missing values
combined_df = combined_df.fillna(method='ffill')

#Sort by datetime
combined_df = combined_df.sort_values(by='Datetime')

#Display the first few rows of the preprocessed dataset
combined_df.head()

Loaded AEP_hourly.csv
Loaded COMED_hourly.csv
Loaded DAYTON_hourly.csv
Loaded DEOK_hourly.csv
Loaded DOM_hourly.csv
File not found: DUK_hourly.csv
Loaded EKPC_hourly.csv
Loaded FE_hourly.csv
Loaded NI_hourly.csv
Loaded PJM_Load_hourly.csv
Loaded PJME_hourly.csv
Loaded PJMW_hourly.csv

,Datetime,AEP_MW,COMED_MW,DAYTON_MW,DEOK_MW,DOM_MW,EKPC_MW,FE_MW,NI_MW,PJM_Load_MW,PJME_MW,PJMW_MW
656205,1998-04-01 01:00:00,19993.0,12816.0,2552.0,4100.0,17428.0,2846.0,8393.0,12223.0,22259.0,NaN,NaN
656206,1998-04-01 02:00:00,19993.0,12816.0,2552.0,4100.0,17428.0,2846.0,8393.0,12223.0,21244.0,NaN,NaN
656207,1998-04-01 03:00:00,19993.0,12816.0,2552.0,4100.0,17428.0,2846.0,8393.0,12223.0,20651.0,NaN,NaN
656208,1998-04-01 04:00:00,19993.0,12816.0,2552.0,4100.0,17428.0,2846.0,8393.0,12223.0,20421.0,NaN,NaN
656209,1998-04-01 05:00:00,19993.0,12816.0,2552.0,4100.0,17428.0,2846.0,8393.0,12223.0,20713.0,NaN,NaN

In [9]:
#Display basic information about the dataset
print(combined_df.info())
print(combined_df.isnull().sum())
print(combined_df.describe())

#Filter Data
numerical_cols = combined_df.select_dtypes(include=[np.number]).columns
Q1 = combined_df[numerical_cols].quantile(0.25)
Q3 = combined_df[numerical_cols].quantile(0.75)
IQR = Q3 - Q1
combined_df = combined_df[~((combined_df[numerical_cols] < (Q1 - 1.5 * IQR)) | (combined_df[numerical_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

<class 'pandas.core.frame.DataFrame'>
Index: 971099 entries, 656205 to 116161
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Datetime     971099 non-null  datetime64[ns]
 1   AEP_MW       971099 non-null  float64
 2   COMED_MW     849826 non-null  float64
 3   DAYTON_MW    783329 non-null  float64
 4   DEOK_MW      662054 non-null  float64
 5   DOM_MW       604315 non-null  float64
 6   EKPC_MW      488126 non-null  float64
 7   FE_MW        442792 non-null  float64
 8   NI_MW        379918 non-null  float64
 9   PJM_Load_MW  321468 non-null  float64
 10  PJME_MW      288572 non-null  float64
 11  PJMW_MW      143206 non-null  float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 96.3 MB
None
Datetime            0
AEP_MW              0
COMED_MW       121273
DAYTON_MW      187770
DEOK_MW        309045
DOM_MW         366784
EKPC_MW        482973
FE_MW          528307
NI_MW          591181
PJM_Load_MW    649631
PJME_MW        682527
PJMW_MW        827893
dtype: int64
                            Datetime         AEP_MW       COMED_MW
count                         971099  971099.000000  849826.000000  \
mean   2011-07-12 23:37:43.887410688   19431.843453   12706.777998
min              1998-04-01 01:00:00    9581.000000    7237.000000
25%              2007-11-23 01:00:00   19993.000000   12816.000000
50%              2012-04-23 01:00:00   19993.000000   12816.000000
75%              2015-07-06 01:30:00   19993.000000   12816.000000
max              2018-08-03 00:00:00   25695.000000   23753.000000
std                              NaN    1745.072065     745.616758

           DAYTON_MW        DEOK_MW         DOM_MW        EKPC_MW
count  783329.000000  662054.000000  604315.000000  488126.000000  \
mean     2472.399471    4013.232555   16182.350178    2717.669024
min       982.000000     907.000000    1253.000000     514.000000
25%      2552.000000    4100.000000   17428.000000    2846.000000
50%      2552.000000    4100.000000   17428.000000    2846.000000
75%      2552.000000    4100.000000   17428.000000    2846.000000
max      3746.000000    5445.000000   21651.000000    3490.000000
std       241.973208     331.930427    2763.879410     417.358108

               FE_MW          NI_MW    PJM_Load_MW        PJME_MW
count  442792.000000  379918.000000  321468.000000  288572.000000  \
mean     8307.683931   12142.795898   29532.649682   35319.680773
min         0.000000    7003.000000   17461.000000   14544.000000
25%      8393.000000   12223.000000   29506.000000   31375.000000
50%      8393.000000   12223.000000   29506.000000   38608.000000
75%      8393.000000   12223.000000   29506.000000   38608.000000
max     14032.000000   23631.000000   54030.000000   62009.000000
std       543.720827     949.006999    1872.929973    5630.314459

             PJMW_MW
count  143206.000000
mean     5602.375089
min       487.000000
25%      4907.000000
50%      5530.000000
75%      6252.000000
max      9594.000000
std       979.142872

In [10]:
#Feature Selection 1 - Correlation Method
#Compute the correlation matrix andchoose top features
correlation_matrix = combined_df.corr()
if 'Consumption' in correlation_matrix.columns:
    correlated_features = correlation_matrix['Consumption'].sort_values(ascending=False).head(5).index.tolist()
    print("Top Correlated Features:", correlated_features)
else:
    print("Column 'Consumption' not found in the DataFrame.")

Column 'Consumption' not found in the DataFrame.

In [12]:
#Define the target variable
combined_df['Consumption'] = combined_df[
    ['AEP_MW', 'COMED_MW', 'DAYTON_MW', 'DEOK_MW', 'DOM_MW', 
     'EKPC_MW', 'FE_MW', 'NI_MW', 'PJM_Load_MW']
].sum(axis=1)

#Drop 'Datetime' and target from features
X = combined_df.drop(columns=['Datetime', 'Consumption'])
y = combined_df['Consumption']

#Fill missing values
X = X.fillna(0)

#Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Train Random Forest Regressor
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

#Evaluate the model
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

#Feature importance
feature_importances = model.feature_importances_
for feature, importance in zip(X.columns, feature_importances):
    print(f"{feature}: {importance}")

Mean Squared Error: 21.00540718458843
AEP_MW: 0.0
COMED_MW: 0.002360057077408043
DAYTON_MW: 0.00012471945525626695
DEOK_MW: 0.0004491077113055066
DOM_MW: 0.04810574647129831
EKPC_MW: 0.006023127527342967
FE_MW: 0.0012483064338623332
NI_MW: 0.839770152283662
PJM_Load_MW: 0.1014000254164632
PJME_MW: 0.0005187576234013169
PJMW_MW: 0.0